@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-flow: column;
    padding: 20px 210px 120px 210px;
}

.top, .bot, .left, .right{
    display: flex;
    flex: 1 0 50%;
}

.bot .left{
    gap: 10px;
}

.left, .right{
    max-width: 600px ;
}

.top, .bot {
    justify-content: center;
}

.top{
    margin-bottom: 60px;
}

.left{
    font-size: 24px;
    color: #f9FAF8;
    flex-flow: column;
}

.right{
    justify-content: end;
}

.header img {
    min-width: 500px;
    max-width: 500px;
    max-height: 250px;
    min-height: 250px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

  .big{
      font-size: 48px;
      font-weight: bolder;
      color: #f9FAF8;
  }

  .text{
      font-size: 18px;
      color: #e5e7eb;
  }

  button{
     background-color: #3882F6;
     color: #f9FAF8;
     border-radius: 10px;
     padding: 7px 25px 7px 25px;
     border: none;
     font-size: 20px;
  }


/* struggled alot to figure out how to make my header centered in two layers of content,
gap didnt work well as i couldnt center it after so far my solution which may be
thrifty is to force set the container size so that they are forced to be a double
layer and then styling the content from there, still need to dress up different
components and adjust sizes of things. also will want to further check margins and if
and when they are necessary, will tinker with stuff more later! */